<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.f9ld3.heal">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_heal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_heal"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Heal"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Heal"
            android:enabled="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasHeal"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher_heal"
            android:roundIcon="@drawable/ic_launcher_heal"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasPink"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_pink"
            android:roundIcon="@drawable/ic_launcher_pink"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_blue"
            android:roundIcon="@drawable/ic_launcher_blue"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_green"
            android:roundIcon="@drawable/ic_launcher_green"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasPurple"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_purple"
            android:roundIcon="@drawable/ic_launcher_purple"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_orange"
            android:roundIcon="@drawable/ic_launcher_orange"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasTeal"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_teal"
            android:roundIcon="@drawable/ic_launcher_teal"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.f9ld3.heal.MainActivityAliasBrown"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_brown"
            android:roundIcon="@drawable/ic_launcher_brown"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name="ui.ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.NewJournalEntryActivity" />
        <activity android:name=".activities.NewDrawingActivity" />

        <receiver
            android:name=".widgets.NewJournalEntryWidgetProvider"
            android:exported="true"
            android:label="Quick Journal Entry (5 x 2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_journal_entry_widget_info" />
        </receiver>

        <receiver
            android:name=".widgets.MotivationalWidgetProvider"
            android:exported="true"
            android:label="Daily Motivation (4 x 3)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/motivational_widget_info" />
        </receiver>

        <receiver
            android:name=".widgets.TetrisWidgetProvider"
            android:exported="true"
            android:label="Tetris Game (2 x 2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tetris_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.MemoryMatchWidgetProvider"
            android:exported="true"
            android:label="Memory Match Game (2 x 2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memory_match_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.WordScrambleWidgetProvider"
            android:exported="true"
            android:label="Word Scramble Game (2 x 2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/word_scramble_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.PaintWidgetProvider"
            android:exported="true"
            android:label="New Painting (2 x 2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/paint_widget_info" />
        </receiver>

    </application>

</manifest>